# Data Science Nanodegree - Blog Post
Created By: Renan Vieira Dias

## Questions
- Which skills does each data job require?
    - ['LanguageWorkedWith']
    - ['LanguageDesireNextYear']
    - ['DatabaseWorkedWith']
    - ['DatabaseDesireNextYear']
    - ['PlatformWorkedWith']
    - ['PlatformDesireNextYear']
    - ['WebFrameWorkedWith']
    - ['WebFrameDesireNextYear']
    - ['MiscTechWorkedWith']
    - ['MiscTechDesireNextYear']
    - ['DevEnviron']
    - ['OpSys']
- How long you have to be in the field to get to be senior? (Or equivalent money)
    - ['YearsCodePro']
    - ['CurrencySymbol','CurrencyDesc','CompTotal','CompFreq','ConvertedComp','WorkWeekHrs']
- What are some variables that influence your salary per hours?
    - ['EdLevel']
    - ALL of the above

## Segment
- ['Country'] = ?????
- ['Employment'] = ['Employed full-time','Employed part-time']
- ['devtype_interest'] = ['Data or business analyst','Data scientist or machine learning specialist','Database administrator','Engineer, data']

### Imports

In [1]:
import pandas as pd
import math

### Functions

In [2]:
def transformingColumnByOptions(df, column, options, separator='_'):
    for each in options:
        new_column = column + separator + each
        df[new_column] = df[column].apply(lambda x: 1 if x == each else 0)
    return df

In [3]:
def isOneOfTheList(x, list_options):
    for each in list_options:
        if each in x:
            return True
    return False

### Reading Data Files

In [4]:
df = pd.read_csv('survey_results_public.csv')
df_schema = pd.read_csv('survey_results_schema.csv')

### Checking the Employment
- Columns: Employment
- Question: Which of the following best describes your current employment status?
- Interest In the following DevTypes:
    - 'Employed full-time'
    - 'Employed part-time'

In [11]:
# Get only employed surveys
df = df[ df['Employment'].isin(['Employed full-time','Employed part-time']) ]

### Checking Every Work Title
- Columns: DevType
- Question: Which of the following describe you? Please select all that apply.
- Interest In the following DevTypes:
    - 'Data or business analyst'
    - 'Data scientist or machine learning specialist'
    - 'Database administrator'
    - 'Engineer, data'

In [12]:
devtype_options = [
    'Academic researcher'
    ,'Data or business analyst'
    ,'Data scientist or machine learning specialist'
    ,'Database administrator'
    ,'Designer'
    ,'Developer, backend'
    ,'Developer, desktop or enterprise applications'
    ,'Developer, embedded applications or devices'
    ,'Developer, frontend'
    ,'Developer, fullstack'
    ,'Developer, game or graphics'
    ,'Developer, mobile'
    ,'Developer, QA or test'
    ,'DevOps specialist'
    ,'Educator'
    ,'Engineer, data'
    ,'Engineer, site reliability'
    ,'Engineering manager'
    ,'Marketing or sales professional'
    ,'Product manager'
    ,'Scientist'
    ,'Senior Executive (CSuite,VP, etc.)'
    ,'Student'
    ,'System administrator'
    ,'Other'
]

In [13]:
devtype_interest = [
    'Data or business analyst'
    ,'Data scientist or machine learning specialist'
    ,'Database administrator'
    ,'Engineer, data'
]

In [14]:
# Getting all types of DevTypes
df = transformingColumnByOptions( df, 'DevType', devtype_options)

In [23]:
# Clearing those with no interest on data DevType
df = df.dropna(subset = ['DevType']).copy()
df['datajobs'] = df['DevType'].apply( isOneOfTheList, list_options = devtype_interest)
df = df[df['datajobs']]
df = df.drop(['datajobs'], axis=1)

In [17]:
df.head(2)
df.shape

(16000, 110)

### Calculating Equivalent Salary

In [26]:
weeksInYear = 52
df['DollarPerHour'] = df['ConvertedComp']/df['WorkWeekHrs']/weeksInYear
df[['Country','CurrencySymbol','CurrencyDesc','CompTotal','CompFreq','ConvertedComp','WorkWeekHrs','DollarPerHour']]

,Country,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,ConvertedComp,WorkWeekHrs,DollarPerHour
5,Canada,CAD,Canadian dollar,40000.0,Monthly,366420.0,15.0,469.769231
8,New Zealand,NZD,New Zealand dollar,138000.0,Yearly,95179.0,32.0,57.198918
9,India,INR,Indian rupee,950000.0,Yearly,13293.0,70.0,3.651923
11,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,United States,USD,United States dollar,90000.0,Yearly,90000.0,40.0,43.269231
17,Russian Federation,RUB,Russian ruble,120000.0,Monthly,21996.0,40.0,10.575000
19,Lithuania,EUR,European Euro,3000.0,Monthly,41244.0,140.0,5.665385
21,United States,USD,United States dollar,103000.0,Yearly,103000.0,40.0,49.519231
32,Argentina,USD,United States dollar,700.0,Monthly,8400.0,35.0,4.615385
37,Czech Republic,CZK,Czech koruna,96000.0,Monthly,51312.0,39.0,25.301775
38,United States,USD,United States dollar,156000.0,Yearly,156000.0,50.0,60.000000
41,Bangladesh,USD,United States dollar,NaN,Monthly,NaN,40.0,NaN
42,Spain,EUR,European Euro,18000.0,Yearly,20623.0,40.0,9.914904
48,Serbia,USD,United States dollar,5000.0,Monthly,60000.0,42.0,27.472527
50,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,United States,USD,United States dollar,66000.0,Yearly,66000.0,40.0,31.730769
61,Netherlands,EUR,European Euro,76800.0,Yearly,87994.0,45.0,37.604274
65,Germany,EUR,European Euro,120000.0,Yearly,137490.0,NaN,NaN
66,Australia,AUD,Australian dollar,50000.0,Yearly,36265.0,40.0,17.435096
73,Ireland,EUR,European Euro,100000.0,Yearly,114575.0,40.0,55.084135
75,United Kingdom,GBP,Pound sterling,30000.0,Yearly,39254.0,40.0,18.872115
93,United Kingdom,GBP,Pound sterling,33000.0,Yearly,43180.0,44.0,18.872378
94,United States,USD,United States dollar,110000.0,Yearly,110000.0,40.0,52.884615
95,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,United States,USD,United States dollar,66750.0,Yearly,66750.0,45.0,28.525641
98,India,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,Croatia,HRK,Croatian kuna,25000.0,Monthly,46368.0,40.0,22.292308
109,United States,USD,United States dollar,100000.0,Yearly,100000.0,45.0,42.735043
110,United States,USD,United States dollar,NaN,NaN,NaN,NaN,NaN
115,Spain,EUR,European Euro,90000.0,Yearly,103117.0,45.0,44.067094
...,...,...,...,...,...,...,...,...
88496,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88504,Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88507,Philippines,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88510,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88519,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88529,Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88560,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88563,Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88565,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88613,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88628,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88632,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88636,Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88646,Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88655,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88664,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88689,Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88695,Austria,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88697,Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88701,Denmark,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88704,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88706,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88747,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88754,Chile,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88766,Tunisia,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88774,South Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88794,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88826,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88852,India,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88854,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Understanding Job Skills

In [27]:
df['YearsCodePro'].head(50)

5                     3
8                     4
9                    10
11                  NaN
12                    8
17                    3
19                    4
21                   18
32                    3
37                   22
38                   23
41                    5
42                    2
48                    8
50                  NaN
60                    8
61                    1
65                   25
66                    2
73                    2
75                    5
93                    5
94                    8
95                   19
96                    6
98                  NaN
108                  12
109                   4
110                  35
115                   9
119                   2
128                  11
143                 NaN
144                  25
154    Less than 1 year
163                   3
172                   2
175                   2
177                   3
182                   4
186                   7
187                   3
189                   5
190                   2
195                   7
200                  20
204                   7
219                   5
223                  17
236                   9
Name: YearsCodePro, dtype: object

In [20]:
df['Country'].value_counts()

United States                       4414
India                               1276
Germany                             1141
United Kingdom                       997
Canada                               576
Australia                            398
France                               386
Netherlands                          358
Brazil                               333
Spain                                308
Russian Federation                   291
Italy                                286
Poland                               253
Switzerland                          238
Sweden                               226
Turkey                               166
Denmark                              158
Iran                                 156
Israel                               152
Mexico                               152
Pakistan                             152
Austria                              151
South Africa                         135
Belgium                              134
Norway                               124
Czech Republic                       120
Ukraine                              116
Greece                               108
Bangladesh                           108
Romania                              105
                                    ...
Congo, Republic of the...              3
Rwanda                                 3
Kyrgyzstan                             3
Trinidad and Tobago                    2
Madagascar                             2
Swaziland                              2
Mali                                   2
Mauritania                             2
Guinea                                 2
Belize                                 2
Haiti                                  2
Zambia                                 2
Senegal                                2
Democratic Republic of the Congo       2
Maldives                               2
Andorra                                1
Guyana                                 1
Somalia                                1
Liberia                                1
Namibia                                1
Burundi                                1
Malawi                                 1
Togo                                   1
Bhutan                                 1
Djibouti                               1
Saint Vincent and the Grenadines       1
Botswana                               1
Monaco                                 1
Seychelles                             1
Yemen                                  1
Name: Country, Length: 151, dtype: int64